html * {
  outline: 0 solid magenta !important;
}

html .ct-hover {
  outline: 2px solid #FC8DFF !important;
  cursor: pointer;
}

html .ct-current, html .ct-hover.ct-current {
  outline: 3px solid magenta !important;
  cursor: pointer;
  -webkit-transition: outline .1s;
  -moz-transition: outline .1s;
  -ms-transition: outline .1s;
  -o-transition: outline .1s;
  transition: outline .1s;
}